@font-face {
    font-family: 'eesti';
    src: url('HelveticaNeueLTProRoman.woff2') format('woff2'),
    url('HelveticaNeueLTProRoman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
