body {
  font-family: 'eesti';
  font-size: 16px;
  background: #FDFDFD;
}


.container {
  padding: 0 32px;
  max-width: 1440px;
  width: 100%;
}


@media (max-width: 750px) {

  .container {
    padding: 0 24px;
  }

}

